.App {
  font-family: sans-serif;
  border: solid thin black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin: auto;
  width: 700px;
  display: flex;
}

.content {
  width: 55%;
  flex-shrink: 0;
}

h1 {
  margin-left: 15%;
  margin-top: 10%;
  color: red;
}

.icon {
  border: solid thin black;
  border-radius: 50px;
  padding: 3px;
  margin: 1%;
}

.Social {
  margin-left: 30%;
}

.reg-text {
  margin-left: 24%;
  font-size: 12px;
}

.red-text {
  color: red;
}

.check-text {
  font-size: 12px;
}

.form {
  margin-left: 8%;
  margin-bottom: 2%;
}

input[placeholder] {
  border-radius: 5px;
  border: thin solid;
  background: lightgray;
  padding: 3%;
  width: 68%;
  opacity: 40%;
  margin-left: 5%;
  font-size: 12px;
}

input[type="checkbox"] {
  margin-left: 13%;
  margin-bottom: 4%;
  transform: scale(1.2);
  vertical-align: top;
}

button {
  margin-left: 2.3%;
  width: 37%;
  padding: 3%;
  border-radius: 10px;
  border: thin solid;
  font-size: 12px;
}

.buttons {
  margin-left: 9.8%;
  margin-bottom: 7%;
}

.button.solid {
  background-color: red;
  color: white;
}

.button.light {
  background-color: white;
  color: red;
}

img {
  width: 95%;
}
